#trivia_btn_aceptar{
    width: auto !important;
    margin-top: 2%;
    padding: 0 20px !important;
}
.contenedor_trivia{
    position: relative;
    width: 90%;
    height: 100%;
}
.popup_pregunta_trivia #titulo_txt_pregunta{
    font-size: 16px;
    position: relative;
    width: 100%;
    padding: 2% 2% 2% 0%;
    font-weight: 300;
    text-align: left;
    display: block;   
}
.cartas_trivia{
    position: absolute;
    height: 80%;
    right: 0;
    width: auto;
    top: 10%;
    left: 7%;
    cursor: pointer;
}
.popup_pregunta_trivia{
    position: fixed !important;
    width: 80%;
    height: auto;
    left: 10%;
    top: 0;
    z-index: 1041;
    background: #fff;
    border-radius: 30px;
    padding: 1.5% 0.5% 1% 0%;
}
.popup_pregunta_trivia .btn_actividad{
    position: relative !important;
    float: right !important;
}
.popup_pregunta_trivia #actividad_pista{
    padding: 0% 3%;
}
.popup_pregunta_trivia #actividad_pista p{
    width: 100% !important;
}
.header_popup_trivia{
    position: relative;
    width: 100%;
    background-image: url("../img/header_popup.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 15px #333;
    z-index: 1;
    left: 0.5% !important;
}
.titulo_txt_pregunta_trivia{
    color: #fff;
}
.icono_header_popup_trivia{
    width: 10%;
}
.header_popup_trivia img{
    position: relative;
    left: -10px;
    width: 75px;
    height: border-box;
}
.pregunta_trivia{
    color: #fff;
    font-size: 16px;
    float: left;
}
.header_popup_trivia .pista_pregunta{
    width: 5%;
    float: right;
}
.body_popup_trivia{
    left: 3%;
    top: -5px;
    width: 95%;
    float: left;
    background: #fff;
    position: relative;
}
.body_popup_trivia div{
    width: 100% !important;
    float: left;
    padding: 0.5% 1%;
    position: relative;
    font-size: 16px;
}
.body_popup_trivia .active_radio_center_pregunta{
    display: none;
}
.body_popup_trivia .radio_button_pregunta{
    padding: 0;
    position: absolute;
    height: 100%;
    border: 0 !important;
}
.activador_respuesta_trivia{
    cursor: pointer;
}
.numero_de_pregunta_trivia{
    color: #0a4c5e;
    font-weight: 600;
}
#trivia_respuesta_1,
#trivia_respuesta_2,
#trivia_respuesta_3,
#trivia_respuesta_4{
    border-left: solid 4px #0a4c5e !important;
    border-right: solid 4px #0a4c5e !important;
}
.trivia_letra_respuesta{
    color: #16aeb3;
    font-weight: 600;
    margin-left: 1%;
}
@media only screen and (max-width: 1024px) and (max-height: 650px){
    .cartas_trivia {
        height: 70%;
    }
}
@media only screen and (max-width: 1024px) and (min-height: 651px){
    .cartas_trivia {
        height: 65%;
    }
}